@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;1,500&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth #d3a625;
}
body{
    min-height: 1000px;
}

.container{
    min-height: 25vh;
    width: 100%;
    background-image: linear-gradient(135deg, #d3a625, #555555, #111111 74%);
    overflow-x: hidden;
    transform-style: preserve-3d;
}

p{
    font-weight: 300;
    color: #111;
}

h2{
    font-weight: 500;
    color: #bf9a00;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.logo{
    width: 200px;
    height: 200px;
    padding: 0px;
    margin: 0px;   
}
header .sticky{
    background: #fff;
    padding: 0px 100px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 50px;
}

header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

header .sticky .navigation li a{
    color: #111;
}

header .navigation li a:hover{
    color: #bf9a00;
}

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 78%;
}

.titleText{
    color:#111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span{
    color: #d3a625;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx{
    
    position: relative;
    width: 100%;
    min-height: 300px;
}

.row .col50 .imgBx img{
    padding-left: 100px;
    left: 100px;
    width: 98%;
}


figcaption{
    position: relative;
    display: block;
    padding-left: 90px;
    display: block;
    text-align: center;
    float: left;
}

h4{
    color: #bf9a00;
    font-style: italic;
}


