@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,500;1,500&family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito' sans-serif;
    background-color: #fff;
    overflow-x: hidden;
}

.paper{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #fff;
    padding: 0px;
    margin: 0px;  
}

.color_background{
    background: #191919;
}


header{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

header ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

header ul li a:hover{
    color: #bf9a00;
}

header ul li a.btn{
    background-color: #bf9a00;
    display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: all ease 0.5s;
}

header ul li a.btn:hover{
    background-color: #555;
}

.content{
    
    position: relatve;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url(./images/nav.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 0;
    margin-top: 20px;
    clip-path: circle(200vh at 50% -80vh);   
}

section .grow{
    min-height: 150vh;
}

.text{
    width: 50%;
    padding-right: 150px;
    
}

.text h1{
    color: #fff;
    font-size: 58px;
    line-height: 58px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
    margin-top: 55px;
    
}

.text p{
    font-size: 25px;
    line-height: 35px;
    color: #e5e5e5;
    font-weight: 300;
}

.text p span{
    color: #d2b84c;
}

.text a{
    position: relative;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 18px 30px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 60px;   
}

.text a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #bf9a00;
    z-index: -1;
    transition: all ease 0.5s;
}
.text a:hover:before{
    width: 100%;
}

.text a.btn:hover:before{
    background-color:  #bf9a00;
}
.img{
    position: relative;
    width: 500px;
    height: 500px;
    background: radial-gradient(590px, #bf9a00, transparent 40%);
    margin-top: 35px;
}

.kdl-icon{
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 82%;
}

.social-icons{
    height: 100%;
    animation: rotation 60s linear infinite;
}
/*
@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}
*/

.social-icons img{
    position: absolute;
}

.social-icons img:nth-child(1){
    top: 0;
    left: 42%;

}

.social-icons img:nth-child(2){
    top: 25%;
    right: 0;
}

.social-icons img:nth-child(3){
    top: 70%;
    left: 70%;
}

.social-icons img:nth-child(4){
    top: 25%;
    left: 0;
}

.social-icons img:nth-child(5){
    top: 70%;
    left: 10%;
}

.split{
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    line-height: 0;
}

.splt:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/split.svg) repeat-x;
    background-size: cover;
    background-position: -1000px 0;
    opacity: .2;
    animation: waveOne 60s linear infinite;
}

@keyframes waveOne {
    50%{
        background-position: 0 0;
    }
}

.splt:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/split.svg) repeat-x;
    background-size: cover;
    background-position: 2732px 0;
    opacity: .3;
    animation: waveOne 120s linear infinite;
}

ul ul{
    max-width: 250px;
    position: absolute;
    padding: 10px 0;
    opacity: 0;
    z-index: -99999;
    transition: all ease 0.5s;
}

ul li:hover ul{
    opacity: 1;
    z-index: 9;
    padding: 30px 0;
}

ul ul li{
    margin: 0;
    width: 100%;
}

ul ul li a{
    width: 100%;
    display: inline-block;
    padding: 20px;
    background-color: #bf9a00;
    color: black;
}

ul ul li:last-child a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul ul li a:hover{
    background-color: #fff;
    color: black;
}

